.button {
  border: 2px solid #444;
  background-color: transparent;
  color: #333;
  line-height: 47px;
  //   line-height: 42px; ?
  font-weight: 700;
  text-shadow: none;
  border-radius: 3px;
  padding: 0 26px;
  font-size: 16px;
  height: 46px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  outline: 0;
  white-space: nowrap;
  margin: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: #444;
    color: #fff;
    border-color: transparent !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
  }
}
