.advantages {
  // &-container {
  //   max-width: 1170px;
  //   padding: 0 15px;
  //   margin: 0 auto;
  // }
  &-box {
    padding: 80px 0 60px;
  }
  &-items {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
  }
  &-item {
    list-style-type: none;
    // width: 30.63%; ?
    width: 29%;
    text-align: center;
    margin-right: 4%;
    h4 {
      color: #444;
      font-size: 18px;
      font-weight: 600;
      line-height: 1.5;
      margin: 0 0 30px;
      font-family: Raleway, sans-serif;
    }
    p {
      line-height: 1.8;
      margin: 0 0 30px;
      font-size: 0.875rem;
      // font-size: 0.8rem;
      font-family: Lato, sans-serif;
    }
    @media (max-width: 766px) {
      width: 100%;
      margin-right: 0;
    }
  }
}
