.platforms {
  padding-bottom: 80px;
  text-align: center;
  &-box {
    width: 100%;
  }
  &-info {
    &-title {
      margin-bottom: 50px;
      h3 {
        font-size: 26px;
        margin-bottom: 0;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #333;
        font-family: Raleway, sans-serif;
      }
      span {
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: 10px;
        font-weight: 300;
        color: #777;
        font-size: 20px;
        &:after {
          content: "";
          display: block;
          width: 40px;
          margin: 30px auto 0;
          border-top: 2px solid #444;
        }
      }
    }
    p {
      max-width: 800px;
      font-size: 15px;
      color: #555;
      margin: 0 auto;
      line-height: 1.8;
      font-family: Lato, sans-serif;
    }
  }
  &-icons {
    height: 20px; //correct
    &:after {
      content: "";
      display: block;
      width: 10%;
      margin: 30px auto 0;
      border-top: 1px solid #eee;
    }
  }
  &-subscribe {
    margin-bottom: 50px;
    &:after {
      content: "";
      display: block;
      width: 40px;
      margin: 30px auto 0;
      border-top: 2px solid #444;
    }
    h3 {
      font-size: 26px;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: #333;
      span {
        color: #1abc9c;
      }
    }
  }
  &-form {
    &-subscribe {
      display: flex;
      justify-content: center;
      margin: 0 auto;
      height: 50px;
      max-width: 600px;
      &-icon {
        &-box {
          padding: 13px 16px 14px;
          background-color: #e9ecef;
          border: 1px solid #ced4da;
          border-right: none;
          border-radius: 5px 0 0 5px;
          i {
            font-size: 1.25rem;
            color: #495057;
          }
        }
      }
      input {
        display: block;
        border: 1px solid #ced4da;
        padding: .5rem 1rem;
        width: 100%;
        font-size: 1.25rem;
        line-height: 1.5;
        letter-spacing: 0.5px;
      }
      &-button {
        background-color: #6c757d;
        color: #fff;
        cursor: pointer;
        padding: 0.5rem 1rem;
        font-size: 1.25rem;
        line-height: 1.5;
        letter-spacing: 0.5px;
        border-radius: 0 5px 5px 0;
      }
    }
  }
}
