.responsiveness {
  position: relative;
  padding: 60px 0;
  background-color: #f9f9f9;
  overflow: hidden;
  &-box {
    display: flex;
    flex-wrap: wrap;
    max-width: 1170px;
    padding-top: 80px;
    margin: 0 auto;
  }
  &-image {
    margin-right: 4%;
    width: 48%;
    img {
      max-width: 100%;
    }
    @media (max-width: 767px) {
      width: 100%;
    }
  }
  &-description {
    width: 48%;
    text-align: left;
    @media (max-width: 767px) {
      width: 100%;
    }
    &-title {
      margin: 80px 0 50px;
      &:after {
        content: "";
        display: block;
        margin-top: 30px;
        width: 40px;
        border-top: 2px solid #444;
      }
      h2 {
        margin-bottom: 0;
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #333;
      }
      span {
        display: block;
        margin-top: 10px;
        font-size: 22px;
        font-weight: 300;
        color: #777;
      }
    }
    p {
      line-height: 1.8;
      font-size: 15px;
      margin-bottom: 30px;
      color: #555;
    }
  }
}
