.footer {
  background-color: #292929;
  color: rgba(255, 255, 255, 0.25);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  padding: 40px 0;
  &-copyrights {
    text-align: left;
    font-size: 14px;
    line-height: 1.8;
    /* font-family: Lato,sans-serif; */
    &-links {
      font-size: 14px;
      line-height: 1.8;
      a {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.25);
        /* font-family: Lato,sans-serif; */
        display: inline-block;
        margin: 0 3px;
        border-bottom: 1px dotted #444;
        border-bottom-color: rgba(255, 255, 255, 0.25);
      }
    }
    @media (max-width: 767px) {
      text-align: center;
    }
  }
  &-contacts {
    &-social-networks {
      display: flex;
      justify-content: flex-end;
      &-link {
        display: block;
        position: relative;
        flex-direction: column;
        margin: 0 4px 10px 0;
        overflow: hidden;
        color: #fff;
        width: 30px;
        height: 30px;
        font-size: 30px;
        border-radius: 4%;
        text-align: center;
        overflow: hidden;
        cursor: pointer;
        &:hover {
          i {
            color: #fff;
            transform: translateY(-31px);
            transition: all 0.3s ease;
          }
        }
        i {
          font-size: 15px;
          color: #555555;
          // transform: translateY(48px);
        }
        .first {
          position: absolute;
          top: 7px;
          left: 9px;
        }
        .second {
          position: absolute;
          top: 38px;
          left: 9px;
        }
        &:hover {
          transition: all 0.3s ease;
          &.facebook {
            background-color: #3b5998;
          }
          &.twitter {
            background-color: #00acee;
          }
          &.google-plus {
            background-color: #dd4b39;
          }
          &.pinterest {
            background-color: #c8232c;
          }
          &.vimeo {
            background-color: #86c9ef;
          }
          &.github {
            background-color: #171515;
          }
          &.yahoo {
            background-color: #720e9e;
          }
          &.linkedin {
            background-color: #0e76a8;
          }
        }
      }
    }
    &-info {
      &.middot {
        margin: 0 5px;
      }
    }
    @media (max-width: 767px) {
      display: none;
    }
  }
}

.middot {
  margin: 0 5px 5px; //??
}

.flex {
  display: flex;
  justify-content: space-between;
  @media (max-width: 767px) {
    justify-content: center;
  }
}
