.advantages-item-link {
  h4 {
    color: #444;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    margin: 0 0 30px;
    font-family: Raleway, sans-serif;
  }
  p {
    line-height: 1.8;
    margin: 0 0 30px;
    font-size: 0.875rem;
    // font-size: 0.8rem;
    font-family: Lato, sans-serif;
  }
}
