.slider {
  background: rgba(0, 0, 0, 0) url("../../img/slider/appshowcase1.jpg") repeat
    fixed;
  width: 100%;
  position: relative;
  z-index: 1;
  background-size: cover;
  overflow: hidden;
  min-height: 100%;
  transform-style: preserve-3d;
  &-box {
    display: flex;
    // height: 906px;
    height: 100vh;
  }
  &-image {
    z-index: -2;
    position: absolute;
    bottom: 0;
    margin-right: 5%;
    img {
      position: relative;
      left: 0;
      top: 58px;
      @media (max-width: 992px) {
        display: none;
      }
    }
  }
  &-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 45%;
    text-align: left;
    position: absolute;
    right: 26px;
    bottom: 140px;
    &-title {
      margin: 0 0 50px;
      letter-spacing: -2px;
      line-height: 1.5;
      h1 {
        margin: 0;
        font-size: 52px;
        color: #fff;
        letter-spacing: -2px;
        font-family: Raleway, sans-serif;
        font-weight: 400;
      }
    }
    &-button {
      color: #fff;
      &-link {
        display: inline-block;
        text-decoration: none;
        border-color: #eee;
        color: #eee;
        position: relative;
        cursor: pointer;
        outline: 0;
        white-space: nowrap;
        text-transform: uppercase;
        letter-spacing: 1px;
        transition: all 0.2s ease-in-out;
        border: 2px solid #eee;
        border-radius: 3px;
        background-color: transparent;
        text-align: left;
        padding: 24px 34px;
        font-size: 22px;
        height: auto;
        &:hover {
          background-color: #eee;
          color: #333;
        }
        &-box {
          display: flex;
          i {
            top: 1px;
            font-size: 48px;
            width: 48px;
            text-align: center;
            margin-right: 12px;
          }
        }
        &-text {
          text-align: left;
          font-size: 22px;
          font-weight: 700;
          letter-spacing: 1px;
          line-height: 1;
          font-family: Raleway, sans-serif;
          span {
            display: block;
            margin-top: 10px;
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 1px;
            font-family: crete round, serif;
            font-style: italic;
            text-transform: none;
          }
        }
      }
    }
    @media (max-width: 992px) {
      width: 100%;
    }
  }
}
