.slider {
  background: rgba(0, 0, 0, 0) url("../../img/slider/appshowcase1.jpg") repeat
    scroll 0% 0% / cover;
  height: 602px;
  /* position: fixed; */
  &-container {
    display: flex;
    max-width: 1170px;
    margin: 0 auto;
  }
  &-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 48%;
    &-title {
      letter-spacing: -2px;
      h1 {
        font-size: 52px;
        color: #fff;
      }
    }
    &-button {
      color: #fff;
      &-link {
        /* display: flex; */
        text-decoration: none;
        border-color: #eee;
        color: #eee;
        display: inline-block;
        position: relative;
        cursor: pointer;
        outline: 0;
        white-space: nowrap;
        text-transform: uppercase;
        letter-spacing: 1px;
        transition: all 0.2s ease-in-out;
        border: 2px solid #eee;
        border-radius: 3px;
        background-color: transparent;
        text-align: left;
        padding: 24px 34px;
        font-size: 22px;
        height: auto;
        /* font-family: Raleway, sans-serif; */
        &:hover {
          background-color: #eee;
          color: #333;
        }
      }
      &-text {
        text-align: left;
        font-size: 22px;
        /* font-family: Raleway,sans-serif; */
        span {
          display: block;
          margin-top: 10px;
          font-size: 14px;
          font-weight: 400;
          letter-spacing: 1px;
          /* font-family: crete round, serif; */
          font-style: italic;
          text-transform: none;
        }
      }
    }
  }
}
