.slider {
  background: rgba(0, 0, 0, 0) url("../../img/slider/appshowcase1.jpg") repeat
    fixed;
  // background: url("../../img/slider/appshowcase1.jpg") 0% 0% / cover;
  // background-position: fixed;
  // height: 602px;
  // position: absolute;
  width: 100%;
  position: relative;
  z-index: 1;
  background-size: cover;
  min-height: 100%;
  // perspective: 1px;
  transform-style: preserve-3d;
  // &:before {
  //   content: " ";
  //   position: absolute;
  //   z-index: -1;
  //   // background: rgba(81, 87, 105, 0.4);
  //   top: 0;
  //   width: 100%;
  //   height: 100%;
  //   left: 0;
  //   transform: translateY(-100px);
  // background: rgba(0, 0, 0, 0) url("../../img/slider/appshowcase1.jpg") repeat
  // scroll 0% 0% / cover;
  // transform: translateZ(-1px) scale(1);
  // }
  &-container {
    display: flex;
    // max-width: 1170px;
    height: 906px;
    padding: 0 15px;
    margin: 0 auto;
    // transform-style: preserve-3d;
  }
  &-image {
    // position: relative;
    
    margin-right: 5%;
    img {
      // position: absolute;
      position: relative;
      left: 0;
      top: 58px;
      @media (max-width: 992px) {
        display: none;
      }
    }
  }
  &-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 48%;
    &-title {
      margin: 0 0 50px;
      letter-spacing: -2px;
      line-height: 1.5;
      h1 {
        margin: 0;
        font-size: 52px;
        color: #fff;
        letter-spacing: -2px;
        font-family: Raleway, sans-serif;
        font-weight: 400;
      }
    }
    &-button {
      color: #fff;
      &-link {
        display: inline-block;
        text-decoration: none;
        border-color: #eee;
        color: #eee;
        // display: inline-block;
        position: relative;
        cursor: pointer;
        outline: 0;
        white-space: nowrap;
        text-transform: uppercase;
        letter-spacing: 1px;
        transition: all 0.2s ease-in-out;
        border: 2px solid #eee;
        border-radius: 3px;
        background-color: transparent;
        text-align: left;
        padding: 24px 34px;
        font-size: 22px;
        height: auto;
        /* font-family: Raleway, sans-serif; */
        &:hover {
          background-color: #eee;
          color: #333;
        }
        &-box {
          display: flex;
          i {
            top: 1px;
            font-size: 48px;
            width: 48px;
            text-align: center;
            margin-right: 12px;
          }
        }
        &-text {
          text-align: left;
          font-size: 22px;
          font-weight: 700;
          letter-spacing: 1px;
          line-height: 1;
          font-family: Raleway, sans-serif;
          span {
            display: block;
            margin-top: 10px;
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 1px;
            font-family: crete round, serif;
            font-style: italic;
            text-transform: none;
          }
        }
      }
    }
    @media (max-width: 992px) {
      width: 100%;
    }
  }
}
